---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Joe Smith</h1>

<h2>Neuralink</h2>
<p>We're building medical devices for folks with spinal cord injuries. In order to create these
devices in a safe and reliable manner, we need to increase our iteration speed and volume of
production. Software, Infrastructure, and Distributed Systems skills are highly relevant to help
us build developer productivity, internal compute platforms, observability, and data storage. There
are a ton of exciting challenges, please reach out if you'd like to learn more!</p>

<h2>Slack</h2>
<p>I was a software engineer on the Operations Team at <a href="https://slack.com">Slack</a>, then
a Senior Staff Site Reliability Engineer. I partnered closely with the Core Infrastructure and
Enterprise orgs to help Slack scale for our largest, and most security conscious customers.


<h2>Previous Experience</h2>
<p>Previously, I was the <a href="http://mesos.apache.org">Mesos</a>/<a href="http://aurora.apache.org">Aurora</a>
SRE Tech Lead at Twitter, and an Internal Technology Resident at Google. I received a Computer
Science BS in May 2010 from Chapman University in Orange, California.</p>


<p>Check out some of the talks I've given over the years!</p>
<ul>
    <li><a href="https://www.youtube.com/watch?v=ST2l0ogYp_Y">Twitter Flight 2015: Twitter's Production Scale</a></li>
    <li><a href="https://www.youtube.com/watch?v=E4lxX6epM_U">Aurora Meetup: Building and Running Aurora and Mesos</a></li>
    <li><a href="https://www.youtube.com/watch?v=nNrh-gdu9m4">Mesoscon 2015: Mesos and Aurora Operations</a></li>
</ul>

<p>
<a href="https://twitter.com/Yasumoto"><img alt="twitter" src="images/twitter.png" height=32 width=32></a>
<a href="https://www.facebook.com/bjoli"><img alt="facebook" src="images/facebook.png" height=32 width=32></a>
<a href="https://www.linkedin.com/in/yasumoto"><img alt="linkedin" src="images/linkedin.png" height=32 width=32></a>
<a href="https://github.com/Yasumoto"><img alt="github" src="images/github.png" height=32 width=32></a>
<a href="https://github.com/Yasumoto/Joe-Resume/blob/master/JoeSmith.pdf?raw=true">Resume</a>
</p>

{% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
