/* Mad props to (an apparently old version) of https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  background-color: #DDDED8;
;
  padding: 5px;
}
::selection {
  background: #D4105D;
  color: #fff;
  text-shadow: none;
}
a {
  color: #178ED7;
}
a:visited {
  color: #918492;
}
a:hover {
  color: #C6E2FF;
}
a:focus {
  outline: thin dotted;
}
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover,
a:active {
  outline: 0;
}
small {
  font-size: 85%;
}
h1 {
  text-align: center;
  text-shadow: 1px 1px 1px #0C0A0C;
  color: #D4105D;
}
h2 {
  color: #F3A128;
}
p {
  color: #0B46C3;
}
li {
    content: "• ";
    color: #D45155;
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
