<!doctype html>
<head>
    <title>Farrah Smith Interior Design</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div role="main">
        <h1>Farrah Smith Interior Design</h1>
        <p>Interested in an exceptional design for your new home? Hoping to renovate
           your current home? Please send an email to farrah AT farrahsmithdesign.com.</p>
    </div>
</body>
</html>