---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

<ul class="post-metadata">
  <li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
  {%- for tag in tags | filterTagList %}
  {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
  <li><a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a></li>
  {%- endfor %}
</ul>

{{ content | safe }}

{%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
  {%- if previousPost %}<li class="links-nextprev-prev">Previous<br><a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
  {%- if nextPost %}<li class="links-nextprev-next">Next<br><a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
